
<h1>Angular 4 :)</h1>
<h2>  Hello Premeir affichage d'une api .net  </h2><span> .net core dépoloyé on iss servr  !!</span>


<div> bienvenue sur ce site produits</div>

<hr>


<table>
  <thead>
    <tr>
      <th> Numéro de model</th>
      <th> Nom </th>
      <th>Image </th>
      <th>Prix </th>
      <th> Description</th>
    </tr>
 

  </thead>
  <tbody>
    <tr *ngFor="let pr of products">
      <td>  {{pr.modelNumber}}</td>
      <td>  {{pr.modelName}}</td>
      <td>  {{pr.productImage}}</td>
      <td>  {{pr.unitCost}}</td>
      <td>  {{pr.description}}</td>
    </tr>
  </tbody>
</table>
<div *ngFor="let pr of products">
  
  {{pr.description}}
</div>
